@import "tailwindcss";

.active-link {
  border-left: 4px solid black;
  padding-left: 5px;
}

nav ul li:hover {
  font-weight:bold;
}



.card {
  border: 1px solid black;
  border-radius: 10px;
  min-height: 400px;
  width: 100%;
  overflow:hidden;
  
}

.card:hover {
  box-shadow: 0 0 10px 10px #d4d4d4;
}

.card-info {
  padding: 0 20px 10px 20px;
}

.card img {
  width: 100%;
  max-height: 200px;
  object-fit:cover;
  object-position: top;
}


/* see if you can apply this animation to the slider component */
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide {
  animation: slideUp 0.6s ease-in forwards;
  animation-delay: 0.2s;
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
